# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
.env
.venv
env/
venv/

# Data
RowCSVData/

# IDE
.vscode/
.idea/

# C/C++ build artifacts
*.o
*.a
*.exe
Phase_3/main

# Cloned dependencies (not part of our repo)
tflite-micro/
flatbuffers/
gemmlowp/
ruy/

# GitHub
# .github/
